:root {
  --primary: #efb6b2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: #100f10;

  /* border: 1px solid #8739f9; */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.app-name {
  width: 80%;
  margin-top: 1.2rem;
  /* background: red; */
  margin-left: 1.5rem;
  color: #fff;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 2rem;
  font-weight: 800;
  text-decoration: underline #fff;
  display: flex;
  gap: 1rem;
}
.logo-icon {
  margin-top: 1.5rem;
}
.title {
  width: 100%;
  /* margin-top: 1rem; */
  padding-top: 1rem;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-weight: 200;
  color: #1b95e0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: #fff;
}

.title p {
  margin-bottom: 1rem;
  color: #1b95e0;
}

.form {
  width: 100%;
  height: 20vh;
  margin-top: 3rem;
  display: grid;
  place-items: center;
  /* background: black; */
}
.output {
  width: 80%;
  /* background: red; */
}
.msg {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  color: #6e767d;
  font-weight: 200;
  text-align: center;
  overflow-y: none;
}
.error {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  color: red;
  font-weight: 200;
  text-align: center;
  overflow-y: none;
}

.progress-bar {
  height: 5px;
  background: #8739f9;
  margin-top: 2rem;
}
.photo-grid {
  max-width: 78%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0.1rem;
  grid-row-gap: 1rem;
  /* background: red; */
}

.img-wrap {
  width: 90%;
  height: 17rem;
  /* background: green; */
  opacity: 0.8;
  cursor: pointer;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

label input {
  height: 0;
  width: 0;
  opacity: 0;
}

.add-image-icon {
  fill: #8739f9;
  color: #8739f9;
  transform: scale(1.8);
  cursor: pointer;
  opacity: 0.8;
}

.add-image-icon:hover {
  fill: #8739f9;
  color: #8739f9;
  transform: scale(2);
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000080;
}

.backdrop img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}

@media screen and (max-width: 480px) {
  body::-webkit-scrollbar {
    display: none;
  }
  .title {
    font-size: 20px;
  }
  .title p {
    font-size: 1rem;
  }
  .photo-grid {
    max-width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0.1rem;
    grid-row-gap: 1rem;
    /* background: red; */
  }

  .img-wrap {
    width: 95%;
    height: 8rem;
  }
  .backdrop img {
    display: block;
    max-width: 80%;
    max-height: 40%;
    margin: 15rem auto;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
    border: 3px solid white;
  }
}
